@import url(https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css
);

body {
    font-family: 'Gilroy', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.logo-box {
    width: 50px;
    height: 50px;
}

.logo-box > img {
    border-radius: 0% 50% 50% 50%;
} 

.logo-text {
    align-self: center;
}

.signup {
    text-decoration: none;
    border-radius: 50px;
    background-color: #121212;
    color: white;
    padding: 10px 20px;
}

/* header section */
.navbar {
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2vw;
}

.call-to-action {
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.call-to-action > .login {
   text-decoration: none;
   color: black;
}

/* Footer Section */
.footer-nav {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-logo {
    align-items: start;
    font-weight: bold;
    font-size: 32px;
}

.footer-welcome-quote {
    margin-top: 25px;
    font-size: 18px;
    width: min(400px, 100%);
}

.social-icons {
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons > li {
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    padding: 10px;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.social-icons > li:first-of-type {
    font-size: 1rem;
    background-color: rgb(30, 48, 80);
    color: white;
}

.menu-heading {
    font-size: 24px;
    font-weight: 500;
}

.bottom-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.bottom-menu > ul >li {
    margin-top: 25px;
}

.copyright-text {
    text-align: center;
    margin: 25px 100px;
    padding: 25px 50px;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.13);
}

/* ********************* Landing page CSS ********************* */

    /* Hero Section */
    .hero-container {
        padding: 25px 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-text {
        align-self: center;
    }

    .hero-first-quote {
        font-weight: 600;
        border-radius: 50px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #500cb013;
        color: #5a19b6b9;
        margin-bottom: 2%;
    }

    .hero-main-quote {
        font-size: 80px;
        width: min(600px, 100%);
        margin-bottom: 2%;
    }

    .hero-main-quote > .underlined {
        color: #408cfc;
        position: relative;
    }

    .hero-main-quote > .underlined:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 7px;
        width: 100%;
        border: solid 6px #408cfc;
        border-color: #408cfc transparent transparent transparent;
        border-radius: 70% 5%;
    }

    .hero-welcome-quote {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .hero-text > .signup {
        font-size: 24px;
        border-radius: 50px;
        background-color: #121212;
        color: white;
        padding: 20px 40px;
        margin-top: 25px;
    }

    .hero-image {
        width: 100%;
    }

    .hero-image > img {
        border-radius: 15%;
    }

    /* Quote Section */
    .page-quote {
        padding: 25px 100px;
        display: flex;
        justify-content: center;
    }

    .page-quote > p {
        text-align: center;
        font-size: 80px;
        font-weight: bold;
        width: min(63%);
    }

    .page-quote > p > span {
        color: #408cfc;
    }

    /* Feature Section */

    .feature-container {
        margin: 25px 100px;
        padding: 150px 100px;
        border-radius: 50px;
        background-color: rgba(128, 128, 128, 0.13);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .feature-image {
        width: 50%;
        height: 50%;
        justify-self: center;
    }

    .feature-image > img {
        border-radius: 50px;
    }

    .feature-main-text {
        font-size: 64px;
        width: min(600px, 100%);
        font-weight: bold;
    }

    .feature-main-text > span {
        color: #408cfc;
    }

    .feature-description-text {
        margin-bottom: 50px;
    }

    /* Visualize Graph Section */
    .feature-key-points {
        font-size: 20px;
        font-weight: 600;
    }

    /* Expense Track Section */
    .feature-text > .signup {
        font-size: 24px;
        border-radius: 50px;
        background-color: #121212;
        color: white;
        padding: 20px 40px;
    }

    /* ********************* Signup page css ********************* */

    /* Form Section */
    .main-container {
        padding: 25px 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
    }

    .signup-form-wrapper {
        padding: 100px 100px;
    }

    .signup-form-welcome-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .signup-form-welcome-heading > span {
        color: #408cfc;
    }

    .signup-form-welcome-text {
        margin-bottom: 25px;
    }

    .signup-form {
        margin-top: 25px;
    }

    .form-fieldset fieldset {
        border: none;
        padding-left: 0;
    }

    .form-fieldset fieldset > legend {
        font-size: 14px;
        font-weight: bold;
    }

    .form-fieldset input {
        width: 100%;
        height: 30px;
        border-color: rgba(172, 164, 164, 0.308);
        border-radius: 5px;
    }

    .form-fieldset input:focus {
        outline: none;
        border-color: #408cfc;
    }

    .signup-submit-btn {
        font-weight: bold;
        color: white;
        background: linear-gradient(to right, darkblue, #408cfc);
        width: 98%;
        padding: 10px;
        border-radius: 5px;
        margin-top: 25px;
        margin-left: 2px;
        border: none;
    }

    .signup-form-existing-user-redirect {
        margin-top: 25px;
        text-align: center;
    }

    .login-redirect {
        text-decoration: none;
        color: black;
    }


    /********************** Login page css **********************************/

    /* Form Section */
    .main-container {
        padding: 25px 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
    }

    .login-form-wrapper {
        padding: 100px 100px;
    }

    .login-form-welcome-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .login-form-welcome-heading > span {
        color: #408cfc;
    }

    .login-form-welcome-text {
        margin-bottom: 25px;
    }

    .login-form {
        margin-top: 25px;
    }

    .form-fieldset fieldset {
        border: none;
        padding-left: 0;
    }

    .form-fieldset fieldset > legend {
        font-size: 14px;
        font-weight: bold;
    }

    .form-fieldset input {
        width: 100%;
        height: 30px;
        border-color: rgba(172, 164, 164, 0.308);
        border-radius: 5px;
    }

    .form-fieldset input:focus {
        outline: none;
        border-color: #408cfc;
    }

    .login-submit-btn {
        font-weight: bold;
        color: white;
        background: linear-gradient(to right, darkblue, #408cfc);
        width: 98%;
        padding: 10px;
        border-radius: 5px;
        margin-top: 25px;
        margin-left: 2px;
        border: none;
    }

    .login-form-new-user-redirect {
        margin-top: 25px;
        text-align: center;
    }

    .signup-redirect {
        text-decoration: none;
        color: black;
    }

    /* #********************* User Page Css *********************# */

/* Header Section */ 
.dashboard-topbar {
    padding: 10px 100px;
    background-color: #ffffff;
    display: flex;
}

.log-off {
    margin-left: auto;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 25px;
    align-self: center;
    background-color: #121212;
}

.log-off > * {
    color: white;
}

/* Nav Menu Css */
.nav-menu {
    background-color: #e3f6f5;
}

.nav-menu > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.nav-menu > ul > li {
    padding: 15px;
}

/* .nav-menu > ul > li:first-child{
    background-color: #121212;
    color: white;
} */

/* *********************  Dashboard css ********************* */

/*
    Ref: https://colors.muz.li/palette/272643/ffffff/e3f6f5/bae8e8/2c698d
    Color Pallete Dashboard
    black: #121212
    white: #ffffff
    shine blue: #e3f6f5
    shine blue overlay: #e3f6f5
    option: #e3f6f5

*/



/* Main Section */

.main {
    margin-top: 1px;
    background-color: #ffffff;
}

.main > .background-stripe {
    width: 100%;
    height: 200px;
    background-color: #121212;
}

.content-wrapper {
    border: 1px solid black;
    margin-top: -100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #e3f6f5;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

/* Balance Card Css*/
.balance-card {
    position: relative;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #bae8e8;
    padding: 50px;
    margin: 0px 40px 0px 40px;
    top: -2rem;
    box-shadow: 0px 5px 10px grey;
}


/* Overview Css*/
.overview-heading {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 50px;
    border-bottom: 2px solid black;
}

.overview-content {
    margin: 0px 5%;
    display: flex;
    gap: 1rem;
}

.overview-content > div {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bae8e8;
    padding: 50px;
    box-shadow: 0px 5px 10px grey;
    flex-grow: 1;
}

/* Cashflow Css */
.cashflow-heading {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 50px;
    border-bottom: 2px solid black;
}

.cashflow-content {
    margin: 0px 5%;
    display: flex;
    gap: 1rem;
}

.cashflow-content > div {
    min-height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bae8e8;
    padding: 50px;
    box-shadow: 0px 5px 10px grey;
    flex-grow: 1;
}

/* Recent Transactions Css */
.transaction-heading {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 50px;
    border-bottom: 2px solid black;
}

.transaction-wrapper {
    margin: 0px 5%;
}

.transaction-record {
    text-align: right;
    border-collapse: collapse;
    width: 100%;
}

.transaction-record th:first-of-type,
.transaction-record td:first-of-type {
    text-align: left;
}

.transaction-record > thead th {
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}

.transaction-record > tbody tr {
    border-bottom: 1px solid #bae8e8;
    background-color: white;
}

.transaction-record > tbody td {
    padding: 40px 10px;
}